$vue-blue: #32485F;
$vue-green: #00C185;
$grey1: #f7f7f7;
$grey2: #eeeeee;
$grey3: #dddddd;
$grey4: #cccccc;
$grey5: #bbbbbb;
$grey6: #aaaaaa;
$grey7: #999999;
$grey8: #888888;
$grey9: #777777;
$font: rgba(0, 0, 0, 0.65);
$warn: #f44336;